{% extends "includes/base-patient.html" %}
{% load static %}
{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        {% include "includes/alerts.html" %}
                        <h4 class="card-title">Booked Appointments</h4>
                        <div class="table-responsive">
                            <table class="table" id="appointmentsTable">
                                <thead>
                                    <tr>
                                        <th class="text-center">Doctor Name</th>
                                        <th class="text-center">Department</th>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Time</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for appointment in appointments %}
                                    <tr>
                                        <td class="text-center">{{ appointment.doctor.user.first_name }}
                                            {{ appointment.doctor.user.last_name }}</td>
                                        <td class="text-center">{{ appointment.department.name }}</td>
                                        <td class="text-center">
                                            {{ appointment.availability_time.date|date:'Y-m-d' }}</td>
                                        <td class="text-center">
                                            {{ appointment.availability_time.availability.start_time }} -
                                            {{ appointment.availability_time.availability.end_time }} </td>
                                        {% if appointment.status == "Pending" %}
                                        <td class="text-center">
                                            <label class="badge badge-warning">{{  appointment.status }}</label>
                                        </td>
                                        {% elif appointment.status == "Confirmed" %}
                                        <td class="text-center">
                                            <label class="badge badge-info">{{  appointment.status }}</label>
                                        </td>
                                        {% elif appointment.status == "Declined" %}
                                        <td class="text-center">
                                            <label class="badge badge-warning">{{  appointment.status }}</label>
                                        </td>
                                        {% elif appointment.status == "Not Paid" %}
                                        <td class="text-center">
                                            <label class="badge badge-info">{{  appointment.status }}</label>
                                        </td>
                                        {% elif appointment.status == "Completed" %}
                                        <td class="text-center">
                                            <label class="badge badge-success">{{  appointment.status }}</label>
                                        </td>
                                        {% elif appointment.status == "cancel_request" %}
                                        <td class="text-center">
                                            <label class="badge badge-danger">{{  appointment.status }}</label>
                                        </td>
                                        {% endif %}
                                        {% comment %} <td>Canceling 1</td> {% endcomment %}
                                        <td class="text-center">

                                            <div class="btn-group" role="group" aria-label="Appointment Actions">
                                                {% if appointment.status == "Completed" %}
                                                <button type="button" class="btn btn-primary btn-rounded btn-icon"
                                                    onclick="window.location.href='{% url 'encounter_patient' appointment.pk %}'">
                                                    <i class="mdi mdi-eye"></i>
                                                </button>
                                                {% else %}
                                                <button type="button" class="btn btn-primary btn-rounded btn-icon"
                                                    disabled
                                                    onclick="window.location.href='{% url 'encounter_patient' appointment.pk %}'">
                                                    <i class="mdi mdi-eye"></i>
                                                </button>
                                                {% endif %}
                                                {% if appointment.status == "Pending" %}
                                                <button type="button" class="btn btn-danger btn-rounded btn-icon"
                                                    onclick="window.location.href='{% url 'request_delete' appointment.pk %}'">
                                                    <i class="mdi mdi-window-close"></i>
                                                </button>
                                                {% else %}
                                                <button type="button" class="btn btn-danger btn-rounded btn-icon"
                                                    disabled>
                                                    <i class="mdi mdi-window-close"></i>
                                                </button>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}