{% extends "includes/base-manager.html" %}
{% load static %}
{% block content %}
<div class="col-md-6 grid-margin stretch-card">
<div class="card">
    <div class="card-body">
    <h4 class="card-title">Select 2</h4>
    <div class="form-group">
        <label>Single select box using select 2</label>
        <select class="js-example-basic-single w-100">
        <option value="AL">Alabama</option>
        <option value="WY">Wyoming</option>
        <option value="AM">America</option>
        <option value="CA">Canada</option>
        <option value="RU">Russia</option>
        </select>
    </div>
</div>
</div>
{% endblock %}
