{% extends "includes/base-doctor.html" %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="container">
            <header class="assessment-header">

            </header>
            <section>
                <form method="POST">
                    <div class="card">
                        <div class="card-body">
                            <div class="mdi-card-text">
                                <h4>Initial Patient Assessment</h4>
                            </div>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="patientSSN">SSN</label>
                                <input type="text" class="form-control" id="patientSSN" name="ssn"
                                    placeholder="Enter SSN" value={{patient.user.ssn}} readonly>
                            </div>
                            <div class="form-group">
                                <label for="patientFullName">Full Name</label>
                                <input type="text" class="form-control" id="patientFullName" value="{{ full_name }}"
                                    readonly>
                            </div>
                            <div id="additionalSections">
                                <div class="form-group">
                                    <label for="temperature">Temperature (°C):</label>
                                    <input type="number" class="form-control" id="temperature" name="temperature"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="weight">Weight (kg):</label>
                                    <input type="number" class="form-control" id="weight" name="weight"
                                        value="{{initialassessment.weight}}" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="bloodPressure">Blood Pressure:</label>
                                    <input type="text" class="form-control" id="bloodPressure" name="bloodPressure"
                                        value="{{initialassessment.blood_pressure}}" readonly required>
                                </div>
                                <div class="form-group">
                                    <label for="reasonOfVisit">Reason of Visit:</label>
                                    <input type="text" class="form-control" id="reasonOfVisit" name="reasonOfVisit"
                                        value="{{initialassessment.reason_of_visit}}" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="height">Height (cm):</label>
                                    <input type="number" class="form-control" id="height" name="height"
                                        value="{{initialassessment.height}}" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="notes">Notes:</label>
                                    <input class="form-control" id="notes" name="notes"
                                        value="{{initialassessment.notes}}" readonly></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}