{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include "includes/head-doctor.html" %}

<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
            <div class="me-3">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
            </div>
            <div>
                <a class="navbar-brand brand-logo" href="{% url 'doctor_home' %}">
                    <img src="{% static 'images/logo.svg'%}" alt="logo" />
                </a>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                    <h1 class="welcome-text">Good Morning, <span class="text-black fw-bold">{{ user.first_name }}</span>
                    </h1>
                    <h3 class="welcome-sub-text">Welcome to Galala Hospital</h3>
                </li>
                {% else %}
                <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                    <h1 class="welcome-text">Good Morning, <span class="text-black fw-bold">Guest</span></h1>
                    <h3 class="welcome-sub-text">Welcome to Galala Hospital</h3>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                    <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="img-xs rounded-circle" src="{% static 'images\faces\default-profile.svg'%}"
                            alt="Profile image"> </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <div class="dropdown-header text-center">
                            <img class="img-md rounded-circle" src="{% static 'images\faces\default-profile.svg'%}" alt="Profile image" width="35" height="35">
                            <p class="mb-1 mt-3 font-weight-semibold">{{ user.first_name}} {{ user.last_name }}</p>
                            <p class="fw-light text-muted mb-0">{{ user.email }}</p>
                        </div>      
                        <a href="{% url 'logout' %}" class="dropdown-item"><i
                                class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign
                            Out</a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-bs-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'doctor_home' %}">
                    <i class="mdi mdi-grid-large menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
                </li>
                <li class="nav-item nav-category">Appointments</li>
                <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                    <i class="menu-icon mdi mdi-card-text-outline"></i>
                    <span class="menu-title">Appointments</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="form-elements">
                    <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{% url 'appointments' %}">Assigned Appointments</a></li>
                    </ul>
                </div>
                </li>
                <li class="nav-item nav-category">Patients</li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                    <i class="menu-icon mdi mdi-card-text-outline"></i>
                    <span class="menu-title">Patients</span>
                    <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="form-elements">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="{% url 'patients' %}">Patient Info</a></li>
                    </ul>
                    </div>
                </li>
            </ul>
            </nav>
        {% block content %}

        {% endblock %}

    </div>
    <!-- page-body-wrapper ends -->
</div>

{% include "includes/footer-doctor.html" %}

</body>

</html>