{% extends "includes/base-nurse.html" %}
{% block content %}
<!-- partial -->
<div class="main-panel">
<div class="content-wrapper">
  <div class="container">
    <header class="assessment-header">
      <h1> Initial Patient Assessment</h1>
    </header>
    <section>
      <form id="patientassessmenttForm">
          <div class="form-group">
              <label for="patientSSN">SSN</label>
              <input type="text" class="form-control" id="patientSSN" name="ssn" placeholder="Enter SSN">
              <button type="button" class="btn btn-primary mt-2" onclick="searchPatient()">Search</button>
          </div>
          <div class="form-group">
              <label for="patientFullName">Full Name</label>
              <input type="text" class="form-control" id="patientFullName" readonly>
          </div>
      <script type="text/javascript">
          $(document).ready(function() {
              $('.js-example-basic-single').select2();
          });
  
          function searchPatient() {
              var ssn = $('#patientSSN').val();
              $.ajax({
                  url: '{% url "get_full_name" %}',
                  data: { 'ssn': ssn },
                  dataType: 'json',
                  success: function (data) {
                      if (data.full_name !== 'Not found') {
                          $('#patientFullName').val(data.full_name);
                          $('#additionalSections').show();
                      } else {
                          $('#patientFullName').val('');
                          $('#additionalSections').hide();
                          alert('SSN not found');
                      }
                  }
              });
          }
      </script>

        <label for="temperature">Temperature (°C):</label>
        <input type="number" id="temperature" name="temperature" required>

        <label for="weight">Weight (kg):</label>
        <input type="number" id="weight" name="weight" required>

        <label for="bloodPressure">Blood Pressure:</label>
        <input type="text" id="bloodPressure" name="bloodPressure" required>

        <label for="reasonOfVisit">Reason of Visit:</label>
        <input type="text" id="reasonOfVisit" name="reasonOfVisit" required>

        <label for="height">Height (cm):</label>
        <input type="number" id="height" name="height" required>

        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes" rows="4"></textarea>

        <div class="submit-container">
          <button type="submit" class="btn btn-primary">submit</button>
        </div>
      </form>
    </section>
  </div>
</div>
{% endblock %}